@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');
$bg-colors: (main: #F4D04E, light: #fff);
$other-colors: (main: #111, box-shadow: #000, description: #7f7f7f);
$text: (heading: 1.5rem, body-small: 0.875rem, body-medium: 1rem)